@let usersForTopPanel = users().slice(0, 8); @let usersForBottomPanel = users().slice(8, 16); @let
usersForLeftPanel = users().slice(16, 20); @let usersForRightPanel = users().slice(20);

<div class="game">
  <h1 class="game__title">{{ title() }}</h1>

  <div class="game__board">
    <!-- Верхняя панель 8 игроков -->
    <div class="game__board-row game__board-top">
      @for (user of usersForTopPanel; track user.id) {
      <div style="width: 50px; height: 100px">
        <app-game-card
          [userName]="user.name"
          [mode]="'back'"
          [rate]="user.rate"
          [active]="user.madeChoice"
          [disabled]="false"
        ></app-game-card>
      </div>
      }
    </div>

    <!-- Левая панель 4 игрока -->
    <div class="game__board-column game__board-left">
      @for (user of usersForLeftPanel; track user.id) {
      <div style="width: 50px; height: 100px">
        <app-game-card
          [userName]="user.name"
          [mode]="'back'"
          [rate]="user.rate"
          [active]="user.madeChoice"
          [disabled]="false"
        ></app-game-card>
      </div>
      }
    </div>

    <!-- Игровое поле -->
    <div class="game__board-table">
      <app-game-table>
        <!-- тут должно быть корректное условие, что карты перевернуты -->
        @if (true) {
        <app-button [disabled]="disableTurnButton()" text="Перевернуть карты" />
        } @else {
        <app-button text="Перезапустить игру" />
        }
      </app-game-table>
    </div>

    <!-- Правая панель 4 игрока -->
    <div class="game__board-column game__board-right">
      @for (user of usersForRightPanel; track user.id) {
      <div style="width: 50px; height: 100px">
        <app-game-card
          [userName]="user.name"
          [mode]="'back'"
          [rate]="user.rate"
          [active]="user.madeChoice"
          [disabled]="false"
        ></app-game-card>
      </div>
      }
    </div>

    <!-- Нижняя панель 8 игроков -->
    <div class="game__board-row game__board-bottom">
      @for (user of usersForBottomPanel; track user.id) {
      <div style="width: 50px; height: 100px">
        <app-game-card
          [userName]="user.name"
          [mode]="'back'"
          [rate]="user.rate"
          [active]="user.madeChoice"
          [disabled]="false"
        ></app-game-card>
      </div>
      }
    </div>

    <!-- Карты игрока -->
    <div class="game__board-row game__board-cards"></div>
  </div>
</div>
